{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    {% comment %} <script src="{% static 'js/navbar.js' %}"></script> {% endcomment %}
</head>
<body>
    {% include 'navbar.html' %}
  {% include 'cart.html' %}
    <main style="margin-top:10vh;"> 
        <div class="container text-center">
            <h1>Browse through our different categories!</h1> <hr><br>
            <div class="w-100"></div>
            <div class="row justify-content-center">
                <!--this element is to display a category of products-->
                <div class="col-6 col-sm-3 float-on-hover">
                    <a href="category.html" class="card-link link-underline link-underline-opacity-0">
                        <div class="card text-start">
                            <img class="card-img-top" src="{% static 'img/600x400.png' %}" alt="Title" />
                            <div class="card-body placeholder-glow">
                                <h4 class="card-title placeholder">placeholder1</h4>
                                <p class="card-text">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!--this element is to display a category of products-->
                <div class="col-6 col-sm-3 float-on-hover">
                    <a href="category.html" class="card-link link-underline link-underline-opacity-0">
                        <div class="card text-start">
                            <img class="card-img-top" src="{% static 'img/600x400.png' %}" alt="Title" />
                            <div class="card-body placeholder-glow">
                                <h4 class="card-title placeholder">placeholder2</h4>
                                <p class="card-text">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-3 float-on-hover">
                    <a href="category.html" class="card-link link-underline link-underline-opacity-0">
                        <div class="card text-start">
                            <img class="card-img-top" src="{% static 'img/600x400.png' %}" alt="Title" />
                            <div class="card-body placeholder-glow">
                                <h4 class="card-title placeholder">placeholder3</h4>
                                <p class="card-text">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>
                <br>
                <div class="col-6 col-sm-3 float-on-hover">
                    <a href="category.html" class="card-link link-underline link-underline-opacity-0">
                        <div class="card text-start">
                            <img class="card-img-top" src="{% static 'img/600x400.png' %}" alt="Title" />
                            <div class="card-body placeholder-glow">
                                <h4 class="card-title placeholder">placeholder4</h4>
                                <p class="card-text">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-3 float-on-hover">
                    <a href="category.html" class="card-link link-underline link-underline-opacity-0">
                        <div class="card text-start">
                            <img class="card-img-top" src="{% static 'img/600x400.png' %}" alt="Title" />
                            <div class="card-body placeholder-glow">
                                <h4 class="card-title placeholder">placeholder5</h4>
                                <p class="card-text">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-3 float-on-hover">
                    <a href="category.html" class="card-link link-underline link-underline-opacity-0">
                        <div class="card text-start">
                            <img class="card-img-top" src="{% static 'img/600x400.png' %}" alt="Title" />
                            <div class="card-body placeholder-glow">
                                <h4 class="card-title placeholder">placeholder6</h4>
                                <p class="card-text">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </main>

    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
