{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  {% if not user.is_authenticated %}
  <script>
    window.location.href = "{% url 'login' %}";
  </script>
  {% endif %}
  {% comment %}
  <script src="../js/navbar.js"></script> {% endcomment %}

  <style>
    /* .card {
      border: none;
    } */
  </style>
</head>

<body>
  {% include 'navbar.html' %}
  {% include 'cart.html' %}
  <main style="margin-top: 10vh;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card border">
            <div class="card-body">
              <h2 class="card-title mb-2">My Profile</h2>
              <table id="userTable" class="container-fluid">
                <col style="width: 150px;">
                <col>
                <tbody>
                  <tr>
                    <th>Username</th>
                    <td id="username"></td>
                  <tr>
                    <th>First Name</th>
                    <td id="firstname"></td>
                  </tr>
                  <tr>
                    <th>Last Name</th>
                    <td id="lastname"></td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td id="email"></td>
                  </tr>
                  <tr>
                    <th>Phone Number</th>
                    <td id="phone"></td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <h2>Past Orders <span class="badge bg-secondary" id="order-count">0</span></h2>
              <ul class="list-group">
                <li class="list-group-item">
                  <div>
                    Test
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer style="margin-bottom: 10vh">
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/profile.js' %}"></script>
</body>

</html>